@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
}
